
<div class="container">
    <h1>Meus Agendamentos</h1>
    <hr style="margin-bottom: 40px;" >

    <p *ngFor="let agend of agendamentos">
        <mat-card>
            <h3><strong>Código: </strong> {{agend.uuid}}</h3>
            <h3><strong>Data de Solicitação: </strong>{{agend.data_criacao}}</h3>
            <h3><strong>Data de Agendamento: </strong>{{agend.data_visita}}</h3>
            <h3><strong>Solicitante:</strong> {{ agend.paciente.first_name }}  {{agend.paciente.last_name}}   <strong>CPF:</strong> {{ agend.paciente.cpf }}</h3>
            <h3><strong>Vacina:</strong> {{ agend.vacina.vacina_type }}</h3>
            <a  [routerLink]="['/painel/agendamento/create']" routerLinkActive="router-link-active" (click)="serviceOff()"  mat-raised-button color="primary">Editar</a> <button mat-raised-button color="warn" (click)="openSnackBar()">Cancelar</button>
        </mat-card>
        <br>
    <br>
    </p> 
</div>
<div class="container">
    <br>
    <div class="center">
        <h2>Agende Aqui!</h2>
    <a class="btn btn-success btn-lg" [routerLink]="['/create-agendamento/']" >Agendar</a>
    </div>
</div>


   




