<main>
  <div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Vacine-se em casa</h1>
        <p class="col-md-8 fs-4">A melhor solução custo beneficio para seu salão de beleza.</p>
        <button class="btn btn-primary btn-lg" type="button">Veja Mais</button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Vacinação 24/7</h2>
          <button class="btn btn-outline-light" type="button">Abrir o chat</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Governo do Acre implementa o VacinaInTheHome em todas unidades de Saúde</h2>
          <p>Tenha seus proprio aplicativo para o seu negocio e customize como você quiser</p>
          <button class="btn btn-outline-secondary" type="button">Veja mais</button>
        </div>
      </div>
    </div>
    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2021
    </footer>
  </div>
</main>


